/*--------------Define Global Css--------------*/
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000000;
    line-height: 1.5;
    margin: 0;
}

/*--------------Define Default Global Font Size--------------*/

h1 {
    font-size: 24px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

h5 {
    font-size: 14px;
}

p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

/*how to get underline to disappear or show*/

a:hover {
    color: #000;
    text-decoration: none;
}

.link {
    color: #000;
    text-decoration: none;
}

.link:hover {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
}
.link-shipt {
    color: #000;
    font-weight: 400;
    text-decoration: underline;
}

.link-shipt:hover {
    color: #23CC6B;
    font-weight: 400;
    text-decoration: underline;
}

.link-target {
    color: #000;
    font-weight: 400;
    text-decoration: underline;
}

.link-target:hover {
    color: #CC0000;
    font-weight: 400;
    text-decoration: underline;
}

.logo-height {
    max-width: 50px;
}
/*--------------Define Global Helper Style--------------*/

.hero-container {
    background-color: #C3C8B9;
}

.case-study-hero-section {
    height: 400px; /* Set the desired height for your hero section */
    overflow: hidden; /* Hide the overflow content */
  
    /* Center and crop the image */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .case-study-hero-section img {
    object-fit: cover; /* Crop the image to cover the container */
    object-position: center center; /* Center the image within the container */
    width: 100%; /* Make sure the image spans the full width of the container */
    height: 100%; /* Make sure the image spans the full height of the container */
  }

  .iphone-frame {
    width: 183px; /* Adjust the width and height to match the iPhone screen size */
    height: 333px;
    background: #000; /* iPhone frame color */
    border: 2px solid #999; /* Border color for the frame */
    border-radius: 10px; /* Rounded corners to resemble an iPhone */
    position: relative;
  }

  .iphone-frame video {
    width: 100%;
    height: 100%;
  }
  
.background-white {
    background-color: #ffffff;
}

.normal {
    font-weight: normal;
}

.ol-font {
    font-size: 14px;
    font-weight: normal;
}

.strikethrough {
    text-decoration:line-through
}

td,
th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

.aspect-ratio-container {
    position: relative;
    width: 100%;
    padding-top: 75%; /* Adjust this value to set the desired aspect ratio (height/width) */
}

.aspect-ratio-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.background-color {
    background-color: #f3f3f3;
}

.background-compare-gray {
    background-color: #D9D9D9;
}

.background-compare-red-darker {
    background-color: #E3A3A3;
}

.background-compare-red-lighter {
    background-color: #FFBFBF;
}

.background-compare-green-darker {
    background-color: #AED2C0;
}

.background-compare-green-lighter {
    background-color: #CAEEDC;
}

.card-color:hover {
    background-color: #f3f3f3;
}

.footer-container {
    background-color: #C3C8B9;
    text-align: center;
}

.footer-container a:hover {
    text-decoration: none;
}

.img-height {
    max-height: 50%;
}

.thumbnail1 {
    width: 36px;
}

.thumbnail1:hover .picture1 {
    width: 36px;
    display: none;
}

.thumbnail1:hover .picture2 {
    width: 36px;
    display: block;
}

.picture2 {
    width: 36px;
    display: none;
}

.thumbnail2 {
    width: 36px;
}

.thumbnail2:hover .picture3 {
    width: 36px;
    display: none;
}

.thumbnail2:hover .picture4 {
    width: 36px;
    display: block;
}

.picture4 {
    width: 36px;
    display: none;
}

.button {
    background-color: #62645E;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    padding: 13px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.button:hover {
    border: solid;
    color: #62645E;
    background-color: #fff;
}

.wanderlog {
    background-color: #E4644A;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.tripadvisor {
    background-color: #6FDCA5;
    color: #000;
    text-align: center;
    font-weight: 700;
}

.airbnb {
    background-color: #EB4C60;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.expedia {
    background-color: #F7CC63;
    color: #000;
    text-align: center;
    font-weight: 700;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;

    }

    h3 {
        font-size: 16px;

    }

    h4 {
        font-size: 14px;

    }

    h5 {
        font-size: 14px;
    }

    p {
        font-size: 14px;

    }

    table {
        font-size: 14px;

    }

    a {
        font-size: 14px;
        font-weight: 400;
        color: #000;
        text-decoration: none;
    }

    .logo-height {
        max-width: 75px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;

    }

    h3 {
        font-size: 24px;

    }

    h4 {
        font-size: 16px;

    }

    h5 {
        font-size: 16px;
    }

    p {
        font-size: 16px;

    }

    table {
        font-size: 16px;

    }

    a {
        font-size: 16px;

    }

    .ol-font {
        font-size: 16px;
        font-weight: normal;
    }

    .logo-height {
        max-width: 100px;
    }
}