/*--------------Define Global Css--------------*/
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000000;
    line-height: 1.5;
    margin: 0;
}

/*--------------Define Default Global Font Size--------------*/

h1 {
    font-size: 24px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

h5 {
    font-size: 14px;
}

p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

/*how to get underline to disappear or show*/

a:hover {
    color: #000;
    text-decoration: none;
}

.link {
    color: #000;
    text-decoration: none;
}

.link:hover {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
}

/*--------------Define Global Helper Style--------------*/

.hero-container {
    background-color: #C3C8B9;
}

.background-white {
    background-color: #ffffff;
}

.normal {
    font-weight: normal;
}

td,
th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

.background-color {
    background-color: #f3f3f3;
}


.card-color:hover {
    background-color: #f3f3f3;
}

.footer-container {
    background-color: #C3C8B9;
    text-align: center;
}

.footer-container a:hover {
    text-decoration: none;
}

.thumbnail1 {
    width: 36px;
}

.thumbnail1:hover .picture1 {
    width: 36px;
    display: none;
}

.thumbnail1:hover .picture2 {
    width: 36px;
    display: block;
}

.picture2 {
    width: 36px;
    display: none;
}

.thumbnail2 {
    width: 36px;
}

.thumbnail2:hover .picture3 {
    width: 36px;
    display: none;
}

.thumbnail2:hover .picture4 {
    width: 36px;
    display: block;
}

.picture4 {
    width: 36px;
    display: none;
}

.button {
    background-color: #62645E;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    padding: 13px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.button:hover {
    border: solid;
    color: #62645E;
    background-color: #fff;
}

.wanderlog {
    background-color: #E4644A;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.tripadvisor {
    background-color: #6FDCA5;
    color: #000;
    text-align: center;
    font-weight: 700;
}

.airbnb {
    background-color: #EB4C60;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.expedia {
    background-color: #F7CC63;
    color: #000;
    text-align: center;
    font-weight: 700;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;

    }

    h3 {
        font-size: 16px;

    }

    h4 {
        font-size: 14px;

    }

    h5 {
        font-size: 14px;
    }

    p {
        font-size: 14px;

    }

    table {
        font-size: 14px;

    }

    a {
        font-size: 14px;
        font-weight: 400;
        color: #000;
        text-decoration: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;

    }

    h3 {
        font-size: 24px;

    }

    h4 {
        font-size: 16px;

    }

    h5 {
        font-size: 16px;
    }

    p {
        font-size: 16px;

    }

    table {
        font-size: 16px;

    }

    a {
        font-size: 16px;

    }
}